@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

@layer components {
  .main-background-colorscheme {
    @apply bg-slate-100 dark:bg-slate-900
  }
  .header-colorscheme {
    @apply bg-slate-50 dark:bg-slate-800
  }
  .header-element {
    @apply text-3xl font-bold px-8 py-1 rounded-lg dark:hover:bg-slate-600 hover:bg-slate-200 cursor-pointer duration-300 items-center
  }
  .header-element-active {
    @apply text-3xl font-bold px-8 py-1 rounded-lg bg-slate-200 dark:bg-slate-600 cursor-pointer
  }
  .header-dropdown-element {
    @apply m-1 left-0 text-colorscheme text-lg whitespace-nowrap duration-300 items-center font-medium dark:hover:bg-slate-600 hover:bg-slate-200 rounded-lg py-2 px-2 pr-10
  }
  .animated-hidden {
    @apply invisible opacity-0
  }
  .thread-colorscheme {
    @apply bg-slate-200 dark:bg-slate-700
  }
  .divider-colorscheme {
    @apply border-slate-300 dark:border-slate-700
  }
  .text-colorscheme {
    @apply text-slate-700 dark:text-slate-200
  }
  body * {
    @apply transition-colors duration-100;
  }
}